<div class="container">
  <div class="row">
    <h4 class="table-active px-4 ml-5 mt-4">商品編集</h4>
  </div>

<%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>

<div class="col-9 mx-auto">
  <div class="row ml-3 mt-4">
    <div class="col-3">
       <%= f.label :商品画像 %>
    </div>
    <div class="form-group">
      <div class="field">
       <%= f.file_field :image, accept: "image/*" %>
      </div>
    </div>
  </div>



  <div class="row ml-3">
    <div class="col-3">
      <%= f.label :商品名 %>
    </div>
      <%= f.text_field :name, class:"w-50" %>
  </div>
  <div class="row ml-3 mt-3">
    <div class="col-3">
      <%= f.label :商品説明 %>
    </div>
      <%= f.text_area :introduction, class:"w-50 form-control border-dark", size:"20x10" %>
  </div>

  <div class="row mt-3">　　<!--セレクトボックス-->
     <div class="col-2">
       <%= f.label :ジャンル %>
     </div>

   <div class="col-8">
     <%= f.select :genre_id, @genres.map{ |f| [f.name, f.id]}, { include_blank: '--選択してください--'}, class:"w-75 p-1 ml-5" %>
   </div>

      <!--genre_idに右のidの値が送られる-->
      <!--mapはeach文と同じように繰り返す-->
  </div>

  <div class="row ml-3 mt-3">
    <div class="col-3">
      <%= f.label :税抜価格 %>
    </div>
      <%= f.text_field :price, class:"w-50" %>円
  </div>

  <div class="row ml-3 mt-3">
  <%= form_with(model: @item, local: true) do |form| %>
    <div class="col-3">
      <%= form.label :販売ステータス %>
    </div>

    <div class="col-2">
      <%= form.radio_button :is_active, true %>
      <%= form.label :is_active, '販売中', value: true %>
    </div>

    <div class="col-2">
      <%= form.radio_button :is_active, false %>
      <%= form.label :is_active, '販売停止中', value: false %>
    </div>

<% end %>
</div>

<div class="row mt-4">
  <div class="col-5"></div>
  <div class="col-3">
    <%= f.submit "変更を保存", class:"btn btn-success btn-lg" %>
  </div>
</div>



</div>
  </div>
<% end %>