<div class="container">
   <div class="row">
      <h4 class="table-active mt-4 px-3">注文履歴詳細</h4>
   </div>
</div>
<div class="container-fluid">
   <div class="row mt-3 ml-5">
      <div class="col-1 mr-5"><h5 class="font-weight-bold">購入者</h5></div><div class="col ml-5"><h5><%= @order.name %></h5></div>
   </div>
   <div class="row mt-1 ml-5">
      <div class="col-1 mr-5"><h5 class="font-weight-bold">注文日</h5></div><div class="col ml-5"><h5><%= @order.created_at.strftime('%Y/%m/%d') %></h5></div>
   </div>
   <div class="row mt-1 ml-5">
      <div class="col-1 mr-5"><h5 class="font-weight-bold">配送先</h5></div><div class="col ml-5"><h5><%= "〒#{@order.postal_code} #{@order.address}" %><br/><%= @order.name %></h5></div>
   </div>
   <div class="row mt-1 ml-5">
      <div class="col-1 mr-5"><h5 class="font-weight-bold">支払方法</h5></div><div class="col ml-5"><h5><%= @order.payment_method_i18n %></h5></div>
   </div>
   <div class="row mt-1 ml-5">
      <div class="col-2"><h5 class="font-weight-bold">注文ステータス</h5></div>
         <%= form_with model: @order, url: admin_order_path(@order.id), method: :patch do |f| %>
            <%= f.select :order_status, Order.order_statuses.keys.map { |k| [t("enums.order.order_status.#{k}"), k] } %>
            <%= f.submit "更新", class:"btn btn-success btn-sm ml-4" %>
            <% end %>
   </div>



  <div class="row mt-4 ml-5">
    <table class="table col-8 ml-3">
      <thead class="table-active">
        <tr>
          <th class="col-3">商品名</th>
          <th class="col-2">単価（税込）</th>
          <th class="col-2">数量</th>
          <th class="col-2">小計</th>
          <th class="col-3">制作ステータス</th>
        </tr>
      </thead>
      <% @order.order_details.each do |order_detail| %>
      <tbody>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.price.to_s(:delimited) %></td>
          <td><%= order_detail.quantity %></td>
          <td><%= (order_detail.price * order_detail.quantity).to_s(:delimited) %></td>
          <td><%= form_with model: @order_detail, url: admin_order_detail_path(@order_detail.item.id), method: :patch do |f| %>
                <%= f.select :production_status, OrderDetail.production_statuses.keys.map { |k| [t("enums.order_detail.production_status.#{k}"), k] } %>
                <%= f.submit "更新", class:"btn btn-success btn-sm" %>
                <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
    <table class="table col-4 ml-3">
       <tr></tr>
       <tr></tr>
       <tr><td>商品合計</td></tr>
    </table>
  </div>
</div>