<div class="container-fluid">
<div class="row mt-4">
  <div class="col-1"></div>
  <h4 class="table-active px-4 ml-4">注文履歴一覧</h4>
</div>

<div class="row mx-5 mt-4">
  <table class="table table-bordered">
    <thead class="table-active">
      <tr>
        <th class="col-2">注文日</th>
        <th class="col-5">配送先</th>
        <th class="col-2">注文商品</th>
        <th class="col-1">支払金額</th>
        <th class="col-1">ステータス</th>
        <th class="col-1">注文詳細</th>
      </tr>
    </thead>
    <% @orders.each do |order| %>
    <tbody>
      <tr>
        <td class="align-middle"><%= order.created_at.strftime('%Y/%m/%d') %></td>
        <td class="align-middle"><%= "〒#{order.postal_code}" %><br><%= order.address %><br><%= order.name %></td>
        <td class="align-middle"><% order.order_details.each do |order_detail| %>
            <%= order_detail.item.name %><br/>
            <% end %></td>
        <td class="align-middle"><%= "#{order.amount.to_s(:delimited)}円" %></td>
        <td class="align-middle"><%= order.order_status_i18n %></td>
        <td class="align-middle text-center"><%= link_to "表示する", order_path(order.id), class:"btn btn-primary btn-sm p-2" %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>

<!--<div class="row">-->
<!--  <table class="table table-bordered">-->
<!--    <thead class="table-active">-->
<!--      <tr>-->
<!--        <th>注文日</th>-->
<!--        <th>配送先</th>-->
<!--        <th>注文商品</th>-->
<!--        <th>支払金額</th>-->
<!--        <th>ステータス</th>-->
<!--        <th>注文詳細</th>-->
<!--      </tr>-->
<!--    </thead>-->
<!--    <%# @order_details.each do |order_detail| %>-->

<!--    <tbody>-->
<!--      <tr>-->
<!--        <td><%#= order_detail.order.created_at.strftime('%Y/%m/%d') %></td>-->
<!--        <td><%#= order_detail.order.address %></td>-->
<!--        <td><%#= order_detail.item.name %></td>-->


<!--        <td><%#= "#{order_detail.order.amount.to_s(:delimited)}円" %></td>-->

<!--        <td><%#= order_detail.order.order_status_i18n %></td>-->
<!--        <td><%#= link_to "表示する", order_path(order_detail.id), class:"btn btn-primary" %></td>-->
<!--      </tr>-->
<!--    </tbody>-->

<!--    <%# end %>-->
<!--  </table>-->
<!--</div>-->
</div>